

* {
    box-sizing: border-box;
}

#maaz {

    float: left;
    width: 50px;
    height: 50px;
    margin: -10px 0px -10px 0px;

}

@media only screen and (max-width: 600px) {


    #maaz {

        float: none;
        width: 50px;
        height: 50px;
        margin: 0px 0px 0px 0px;

    }

    #topnav-grid-item1 {
        grid-area: auto1;
        float: none;
    }

    #topnav-grid-item3 {
        grid-area: auto3;
        margin: 1% 0%;
    }
    #topnav-grid-item4 {
        grid-area: auto4;
        margin: 1% 0%;
    }
    #topnav-grid-item5 {
        grid-area: auto5;
        margin: 1% 0%;
    }
    #topnav-grid-item6 {
        grid-area: auto6;
        margin: 1% 0%;
    }
    #topnav-grid-item7 {
        grid-area: auto7;
        margin: 1% 0%;
    }
    #topnav-grid-item8 {
        grid-area: auto8;
        margin: 1% 0%;
    }

    /*--------------------------*/
    #causes-container-item2 {
        grid-area: 1/2/1/4;
    }
    #causes-container-item6 {
        grid-area: 2/2/2/4;
    }
    #causes-container-item10 {
        grid-area: 3/2/3/4;
    }
    #causes-container-item14 {
        grid-area: 4/2/4/4;
    }

}

@media only screen and (min-width: 600px) {
    #causes-container-item2 {
        grid-area: 1/1/1/3;
    }
    #causes-container-item6 {
        grid-area: 2/1/2/3;
    }
    #causes-container-item10 {
        grid-area: 1/3/1/5;
    }
    #causes-container-item14 {
        grid-area: 2/3/2/5;
    }
}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {
    #causes-container-item2 {
        grid-area: 1/1/1/1;
    }
    #causes-container-item6 {
        grid-area: 1/2/1/2;
    }
    #causes-container-item10 {
        grid-area: 1/3/1/3;
    }
    #causes-container-item14 {
        grid-area: 1/4/1/4;
    }
}

@media only screen and (min-width: 1200px) {}

h1 {
    font-family: 'Lato';
    font-weight: 400;
}

* {
    font-family: 'Lato';
    font-weight: 300;
}

/* ====================TOP NAVIGATION BAR========== */

.grid-container-topnav {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    display: grid;
    grid-template-areas: 'auto1 auto1 auto1 auto1 auto1 auto1 auto1 auto1' 'auto2 auto2 auto2 auto2 auto2 auto2 auto2 auto2' 'auto3 auto3 auto3 auto3 auto3 auto3 auto3 auto3' 'auto4 auto4 auto4 auto4 auto4 auto4 auto4 auto4' 'auto5 auto5 auto5 auto5 auto5 auto5 auto5 auto5' 'auto6 auto6 auto6 auto6 auto6 auto6 auto6 auto6' 'auto7 auto7 auto7 auto7 auto7 auto7 auto7 auto7' 'auto8 auto8 auto8 auto8 auto8 auto8 auto8 auto8';
    grid-gap: 0px;
    text-align: center;
    overflow: auto;
    background-color: rgba(7, 7, 7, 0.945);
    padding: 30px;
}

.grid-container-topnav>div {
    text-align: center;
}

.topnav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 100%;

}

.topnav a:hover {
    color: gray;
}


/* ====================EDUCATION========== */

.grid-container-edu {
    display: grid;
    grid-template-columns: 20% auto 40% 15%;
    grid-template-rows: 10vw 10vw 10vw 10vw;
    grid-gap: 5px;

}

.grid-container-edu>div {
    text-align: center;
    
}



#edu-container-item2
/*UofC Logo*/

    {
    grid-area: 1 / 2 / 3 / 2;
}

#edu-container-item3
/*name*/

    {
    font-size: 2vw;
}

#edu-container-item6
/*desciption*/

    {
    font-size: 2vw;
}

#edu-container-item9
/*PIS Logo*/

    {
    grid-area: 3 / 2 / 5 / 2;
}

#edu-container-item10
/*name*/

    {
    font-size: 2vw;
}

#edu-container-item13
/*desciption*/

    {
    font-size: 2vw;
}



/* ====================DAY SPENT NAVIGATION BAR========== */

ul.day_spent_navbar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 2vw;
}


.day_spent_navbar li {

    padding: 0vw 3vw;
    display: inline-block;

}

ul.day_spent_navbar {


    list-style-type: none;
    padding: 30px;
    text-align: center;
    overflow: hidden;
}

ul.day_spent_navbar a:hover {
    color: rgb(0, 102, 211);
}

/* =============== CAUSES =============== */

.grid-container-causes {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 20vw 20vw 20vw 20vw;
    grid-gap: 2px;
    padding: 5%;

}

.grid-container-causes>div {
    text-align: center;
    font-size: 1.7vw
}


div .EduDetail {
    font-size: 2vw;
    font-weight: 300;
}

.NormText1 {
    font-size: 2vw;
}

.centre-aligned-headings {
    text-align: center;
}

#footer {
    background-color: black;
    height: 5vw;
    margin-top: 5vw;
    color: white;
    text-align: center;
    padding-top: 2vw;

}

